# ignore exclude folder
exclude

# ignore pys
pys

# ignore OSX folder conig file
.DS_Store

# ignore compiling folders
bin
obj
dep
tmp

# ignore pictures
*.png
*.jpg
*.jpeg
*.eps

# ignore cython files
*.pyc

# ignore performance test folder
perf

# ignore *.json
*.json
